* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

:root {
  --primary-color: #f55f8d;

  /* This changes all the animations globally */
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  margin-right: 30px;
}

.header_content li {
  padding: 55px 15px;
}

.header_content li a {
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}

.header_content span {
  display: inline-block;
  color: #000;
}

.header_content li:hover span {
  animation: upToDown 0.3s forwards;
  color: var(--primary-color);
  cursor: pointer;
}

.header_content a i {
  font-size: 9px;
}

.btn {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
}

.btn:hover {
  background-position: right center;
}

/* banner */

.banner {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(./../img/bg16.png);
  background-position: top;
  background-size: 100%;
}

.banner_content {
  display: flex;
  align-items: center;
}

.banner_title {
  width: 60%;
}

.banner_img {
  width: 40%;
}

.banner_title-top p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.banner_title-top h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}

.banner_title-buttom p {
  font-size: 18px;
  margin-bottom: 15px;
}

.banner_title-buttom ul {
  margin-bottom: 20px;
}

.banner_title-buttom li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.banner_title-buttom i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.banner_img img {
  width: 570px;
  margin-left: 50px;
}

/* services */

.services {
  padding-top: 115px;
  background-image: url(./../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.services_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.services_title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}

.services_content {
  display: flex;

  gap: 30px;
  margin-top: 40px;
}

.services_item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
  border-image: 100 round;
  border: 3px solid transparent;
}

.services_item:hover {
  transform: translateY(-20px);
  border-image: url(../../img/br.png) 1 round;
}

.services_item {
  width: 33.333333%;
}

.services_item img {
  width: 100%;
}

.services_item h3 {
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

.about {
  padding-top: 115px;
  background-image: url(../../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.about_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about_img {
  position: absolute;
  width: 60%;
  top: 95px;
  left: -190px;
}

.about_img img {
  width: 100%;
  border-radius: 0 50px 100px 0;
}

.about_list {
  width: 50%;
}

.about_title p {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 22px;
  color: var(--primary-color);
}

.about_title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}

.about_items p {
  margin-bottom: 15px;
  color: #636363;
  line-height: 1.6;
}

.about_items ul {
  margin-bottom: 30px;
  color: #636363;
}

.about_items i {
  font-size: 24px;
  color: var(--primary-color);
  margin-right: 10px;
  line-height: 1.6;
}

/* number */
.number {
  background-image: url(../../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number_content {
  display: flex;
  justify-content: space-around;
}

.number_item {
  width: 25%;
}

.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number_item p:first-of-type {
  font-size: 65px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1;
}

.number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* features */

.features {
  background-image: url(../../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
  padding-bottom: 0;
  overflow: hidden;
}

.features_content {
  display: flex;
}

.features_list {
  width: 51%;
}

.features_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.features_title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}

.features_wrap-item:first-child {
  padding: 0 50px 30px 0;
}

.features_wrap-item:nth-child(2) {
  padding: 0 0 30px 50px;
}

.features_wrap-item:last-child {
  padding: 0 50px 30px 0;
}

.features_item1 {
  display: flex;

  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features_item1::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features_item1:hover i {
  color: #fff;
}

.features_item1:hover h3 {
  color: #fff;
}

.features_item1:hover p {
  color: #fff;
}

.features_item1:hover::after {
  opacity: 1;
}

.features_item1 i {
  font-size: 80px;
  color: #f55f8d;
  transition: all 1s;
  z-index: 1;
}

.features_item1 div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features_item1 h3 {
  color: #262626;
  margin-bottom: 10px;
  font-size: 1.5rem;
  transition: all 1s;
}

.features_item1 p {
  color: #636363;
  font-weight: 400;
  transition: all 1s;
  line-height: 1.5;
}

.features_img {
  width: 49%;
}

.features_img img {
  max-width: 100%;
  animation: move2 5s infinite;
}

/* portfolio */

.portfolio {
  padding-top: 115px;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio_title {
  text-align: center;
}

.portfolio_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.portfolio_title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}

.portfolio_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio_item {
  position: relative;
  overflow: hidden;
}

.portfolio_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio_item:hover::before {
  left: 125%;
}

.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}

.portfolio_item:hover .portfolio_icon {
  transform: translate(0);
}

.portfolio_item:hover .portfolio_text {
  transform: translate(0);
}

.portfolio_item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.portfolio_item1 {
  grid-column: 1 / span 2;
}

.portfolio_item5 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.portfolio_item6 {
  grid-column: 1 / span 2;
}

.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.portfolio_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}

.portfolio_text p {
  color: #fff;
  opacity: 0.7;
}

/* blog */

.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding: 115px 0 50px 0;
}

.blog_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.blog_title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}

.blog_item {
  border-radius: 8px;
  padding-right: 20px;
}

.blog_img {
  position: relative;
}

.blog_img img {
  width: 100%;
  border-radius: 8px;
}

.blog_img p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog_describe {
  background: rgba(245, 95, 141, 0.1);
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-top: -6px;
  padding-bottom: 20px;
  text-align: left;
}

.blog_describe h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog_describe p {
  color: #636363;
  line-height: 1.4;
  font-weight: 400;
}

.blog_footer {
  background: rgba(245, 95, 141, 0.1);
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.blog_footer p:first-of-type {
  margin-right: 20px;
}

.blog_footer p:first-of-type span {
  color: #f55f8d;
}

.blog_footer i {
  font-size: 22px;
  color: #f55f8d;

  vertical-align: sub;
}

/* footer */

footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
}

.footer_top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer_text,
.footer_form {
  width: 50%;
  display: flex;
  align-items: center;
}

.footer_text h2 {
  font-size: 28px;
  color: #262626;
}

.footer_form input {
  padding: 24px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}

.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
}

.footer_form button:hover {
  background-position: right center;
}

.footer_form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

.footer_bottom {
  display: flex;
  padding: 70px 0;
}

.footer_item {
  width: 25%;
}

.footer_item img {
  color: #fff;
  font-size: 16px;
}

.footer_contact li {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.footer_contact i {
  font-weight: 700;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer_item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer_item h3::before {
  width: 15px;
}

.footer_item h3::before,
.footer_item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer_item h3::after {
  width: 45px;
  left: 20px;
}

.footer_item li {
  padding: 0.5rem 0;
}

.footer_item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer_item a:hover {
  color: white;
}

.footer_item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer_final {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_left span {
  color: #f55f8d;
}

.footer_final a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer_final a:hover {
  background-color: #f55f8d;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* KEYFRAMES */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}
